body {
	color: #616161;
	font-family: 'Poppins';
	font-size: 15px;
}
header {
	background: #fff;
}
.logo {
	height: 75px;

}
.logo_img {
	font-size: 35px;
}
span {
	color: #fc5f45;
}
ul, li, p {
	margin: 0;
	padding: 0;
}
.menu {
	height: 75px;
}
.menu li {
	display: inline-block;
	margin-right: 18px;
}
.menu li:last-child {
	margin-right: 0px;
}
.menu_a li a {
	font-size: 14px;
	color: #616161;
	font-weight: 600;
}
.menu_a li a:hover {
	text-decoration: none;
	color: #fc5f45;
}
/** {
	border: 1px solid red;
}*/
#first {
	padding-top: 170px;
	padding-bottom: 175px;
	background: #3f4049;
	color: #fff;
}

.glav {
	width: 85%;
	margin: 0px auto 0px;
	text-align: center;
}

h1 {
	font-family: 'Libre Baskerville';
	font-size: 60px;
	font-weight: 400;
}
.btn_works {
	background: #fc5f45;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fc5f45;
	border-radius: 55px;
	padding: 16px 46px;
	margin: 47px auto 0px;
}
.btn_works:hover {
	background: #c44a36;
	border: 1px solid #c44a36;
}
.advantage{
	margin-top: 82px;
}

.advantage_fixed {
	text-align: center;
	width: 245px;
}
.advantage_text {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 36px;
}
.first {
	color: #38c695;
}
.second {
	color: #b27cf5;
}
.third {
	color: #feb960;
}