body {
	color: #616161;
	font-family: 'Poppins';
	font-size: 15px;
}
header {
	
}

p {
	margin: 0;
	padding: 0;
}
h2, h3 {
	color: #313131;
}
.menu {
	padding: 0px;
}

.menu_style {
	padding: 10px 5px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 1em;;
}
.menu_style:last-child {
	padding-right: 0px;
}
.nav-link {
	color: #272727 !important;
}
.nav-link:hover {
	color: #fc5f45 !important;
}

/** {
	border: 1px solid red;
}*/
#first {
	padding-top: 170px;
	padding-bottom: 175px;
	background: #3f4049;
	color: #fff;
}

.glav {
	width: 85%;
	margin: 0px auto 0px;
	text-align: center;
}

h1 {
	font-family: 'Libre Baskerville';
	font-size: 60px;
	font-weight: 400;
}
.btn_works {
	background: #fc5f45;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fc5f45;
	border-radius: 55px;
	padding: 16px 46px;
	margin: 47px auto 0px;
	cursor: pointer;
}
.btn_works:hover {
	background: #c44a36;
	border: 1px solid #c44a36;
}
.advantage{
	margin-top: 82px;
}

.advantage_fixed {
	text-align: center;
	width: 255px;
}
.advantage_text {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 36px;
}
.first {
	color: #38c695;
}
.second {
	color: #b27cf5;
}
.third {
	color: #feb960;
}
#second {
	padding-top: 150px;
	padding-bottom: 150px;
}
.cube {
	width: 555px;
	height: 700px;
	border: 10px solid #9b9999;
	font-size: 57px;
	background: linear-gradient(to top, #daaca4, #cccccc);
}
.glav2 {
	width: 648px;
	padding: 90px 80px 100px;
	background: #fff;
	position: absolute;
	top: 10%;
	left: 42%;
	background-image: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #b27cf5 25%, #feb960 25%);
	background-size: 100% 3px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.glav2_1 {
	font-family: 'Libre Baskerville';
	font-weight: 700;
	font-size: 50px;
}
.glav2_2 {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 15px;
	margin-top: 35px;
	line-height: 1.8em;
}
#third {
	padding-top: 150px;
	padding-bottom: 150px;
}
.glav3 {
	text-align: center;
}


h2 {
	font-family: 'Libre Baskerville';
	font-weight: 700;
	font-size: 50px;
}
p {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}
.post {
	text-align: center;
	width: 90%;
	border-bottom: 3px solid #fc5f45;
	padding-bottom: 50px;
	margin-top: 135px;
}
h3 {
	font-size: 20px;
	font-weight: 500;
	margin-top: 30px;
}
.post_text {
	font-size: 15px;
	font-weight: 400;
}
.oner {
	border-bottom: 3px solid #38c695;
}
.twoner {
	border-bottom: 3px solid #b27cf5;
}
.threener {
	border-bottom: 3px solid #feb960;
}
#fourth {
	background: #3f4049;
	padding-top: 130px;
	padding-bottom: 150px;
}
.explore {
	text-align: center;
}
.explore_glav {
	font-size: 30px;
	color: #fff;
	font-weight: 400;
}
.explore_img {
	margin-top: 35px;
}
.explore_text {
	margin-top: 35px;
	font-size: 15px;
	color: #fff;
	font-weight: 400;
}
.projects {
	padding: 0;
	margin-top: 80px;
	height: 280px;
	position: relative;
}
/** {
	border: 1px solid red;
}*/

.project_img {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}
.project_img1 {
	background: url("../img/item1.jpg") no-repeat center top;
}
.project_img2 {
	background: url("../img/item2.jpg") no-repeat center top;
}
.project_img3 {
	background: url("../img/item3.jpg") no-repeat center top;
}
.project_img4 {
	background: url("../img/item4.jpg") no-repeat center top;
}
.project_img5 {
	background: url("../img/item5.jpg") no-repeat center top;
}
.project_img6 {
	background: url("../img/item6.jpg") no-repeat center top;
}
.project_img7 {
	background: url("../img/item7.jpg") no-repeat center top;
}
.project_img8 {
	background: url("../img/item8.jpg") no-repeat center top;
}
.project_img9 {
	background: url("../img/item9.jpg") no-repeat center top;
}
.numbers {
	color: #313131;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	width: 100%;
	height: 20%;
	background: rgba( 255, 255, 255, 1);
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: all .5s;
	padding-top: 14px;
}
.oblako {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	opacity: 0;
	background: rgba( 0, 0, 0, 0.5) url("../img/plus.png") no-repeat center center;
	transition: all .5s;
	max-width: 360px;
}

.projects:hover .numbers {
	opacity: 1;
}
.projects:hover .oblako {
	opacity: 1;
}