body {
	color: #616161;
	font-family: 'Poppins';
	font-size: 15px;
}
header {
	background: #fff;
}

ul, li, p {
	margin: 0;
	padding: 0;
}

.logo {
	margin-top: 30px;
	margin-bottom: 30px;
}

.menu {
	margin-top: 30px;
	margin-bottom: 30px;
}
.menu li {
	display: inline-block;
	margin-right: 18px;
}
.menu li:last-child {
	margin-right: 0px;
}
.menu_a li a {
	font-size: 14px;
	color: #616161;
	font-weight: 600;
}
.menu_a li a:hover {
	text-decoration: none;
	color: #fc5f45;
}
/** {
	border: 1px solid red;
}*/
#first {
	padding-top: 170px;
	padding-bottom: 175px;
	background: #3f4049;
	color: #fff;
}

.glav {
	width: 85%;
	margin: 0px auto 0px;
	text-align: center;
}

h1 {
	font-family: 'Libre Baskerville';
	font-size: 60px;
	font-weight: 400;
}
.btn_works {
	background: #fc5f45;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fc5f45;
	border-radius: 55px;
	padding: 16px 46px;
	margin: 47px auto 0px;
	cursor: pointer;
}
.btn_works:hover {
	background: #c44a36;
	border: 1px solid #c44a36;
}
.advantage{
	margin-top: 82px;
}

.advantage_fixed {
	text-align: center;
	width: 255px;
}
.advantage_text {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 36px;
}
.first {
	color: #38c695;
}
.second {
	color: #b27cf5;
}
.third {
	color: #feb960;
}
#second {
	padding-top: 150px;
	padding-bottom: 150px;
}
.cube {
	width: 555px;
	height: 700px;
	border: 10px solid #9b9999;
	font-size: 57px;
	background: linear-gradient(to top, #daaca4, #cccccc);
}
.glav2 {
	width: 648px;
	padding: 90px 80px 100px;
	background: #fff;
	position: absolute;
	top: 10%;
	left: 42%;
	background-image: linear-gradient(to right, #fc5f45 25%, #38c695 25%, #b27cf5 25%, #feb960 25%);

	background-size: 100% 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
h2 {
	font-family: 'Libre Baskerville';
	font-weight: 700;
	font-size: 50px;
	color: #313131;
}
p {
	font-family: 'Poppins';
	font-weight: 400;
	font-size: 15px;
	margin-top: 35px;
	line-height: 1.8em;

}
